.wrapper{
  display:flex;
}

  .side-bar{
    width:300px;
    height:100vh;
    background-color:#253141;
    padding:0 20px;
  }

  .side-bar-header{
    height:100px;
  }

  .rooms{
    background-color: #2F3E51;
    height: calc(100vh - 100px);
  }
 

  .chat{
    width:calc(100vw - 300px);
    background-color:#ffffff;
    padding:0 40px;
  }

  .chat-header{
    height:100px;
  }

  .messages{
    background-color:#FAFAFA;
    height: calc(100vh - 100px - 90px);
    padding-top:46px;
  }

  .form{
    background-color:#DDDDDD;
    height:90px;
    padding:20px 0;
  }